<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<meta charset="utf-8">
		<title>Pintorest</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
	</head>


	<body>

		
		<!-- navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Pintorest</a>
				</div>
				<div class="collapse navbar-collapse" id="example">
					<ul class="nav navbar-nav">
						<li><a href="/allpintos">All Pintos</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<% if (!isAuthenticated) { %>
							<li><a href="/login">Login</a></li>
							<li><a href="/signup">Sign Up</a></li> 
						<% } else { %>
							<li><a href="/mypintos">My Pintos</a></li>
							<li><a href="#"><%= user.local.username || user.twitter.username %></a></li>
							<li><a href="/logout">Sign Out</a></li> 
						<% } %>
					</ul>
				</div>
			</div>
		</nav>  <!-- end navbar -->
		
		

		<!-- header -->
		<div class="container header">
			<div class="jumbotron"> <!-- jumbotron -->
				<div class="container text-center">
					<br><br><br><br><br><br><br>
					<h1>#pintorest</h1>
					<p>The best and most beautiful things in the world cannot be seen or even touched - 
					they must be felt with the heart.</p>
				</div> 
			</div>
		</div>

		
		<div class="container">
			<h1># recent pintos</h1>
			<div class="grid">
				<% if (docs.length) { %>
					<% for (var i = 0; i < docs.length; i++) { %>
						<div class="grid-item col-md-3 col-lg-2" data-id="<%= docs[i]._id %>">
							<img class="front-page-img" src="<%= docs[i].imgUrl %>">
							<div class="front-page-wrapper wrapper">
								<h4><%= docs[i].name %></h4>
								<div>
									<div class="poster-div">
										<% if (docs[i].poster === username) { %>
											<span class="pinto-poster">you</span>
										<% } else { %>
											<span class="pinto-poster">
												<a href="/users/<%= docs[i].poster %>"><%= docs[i].poster %></a>
											</span>
										<% } %>
									</div>
									<div class="likes-div">

										<% if (docs[i].poster === username) { %>
											<span><span class="likes-amount"><%= docs[i].likes %></span> <i class="glyphicon glyphicon-chevron-up"></i></span>&nbsp;
										
										<% } else if (!user) { %>
											<span>
												<span class="likes-amount"><%= docs[i].likes %></span> 
												<a href="/login"><i class="glyphicon glyphicon-chevron-up"></i></a>
											</span>&nbsp;
			
										<% } else if (docs[i].likedBy.indexOf(username) === -1) { %>
											<span><span class="likes-amount"><%= docs[i].likes %></span> <i class="likes not-liked glyphicon glyphicon-chevron-up"></i></span>&nbsp;
										
										<% } else { %>
											<span><span class="likes-amount"><%= docs[i].likes %></span> <i class="likes liked glyphicon glyphicon-chevron-up"></i></span>&nbsp;
										<% } %>

										
										
										<% if (docs[i].poster === username) { %>
											<span><span class="reposts-amount"><%= docs[i].reposts %> </span><i class="fa fa-repeat"></i></span>
										
										<% } else if (!user) { %>
											<span>
												<span class="reposts-amount"><%= docs[i].reposts %> </span>
												<a href="/login"><i class="fa fa-repeat"></i></a>
											</span>

										<% } else if (docs[i].repostedBy.indexOf(username) === -1) { %>
											<span><span class="reposts-amount"><%= docs[i].reposts %> </span><i class="reposts not-reposted fa fa-repeat"></i></span>

										<% } else { %>
											<span><span class="reposts-amount"><%= docs[i].reposts %> </span><i class="reposts reposted fa fa-repeat"></i></span>
										<% } %>

									</div>
								</div>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
		</div>
		<br>
		<!-- about -->
		<!-- <div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="well"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
				</div>

				<div class="col-md-4">
					<div class="well"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
				</div>

				<div class="col-md-4">
					<div class="well"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
				</div>
			</div>
		</div> -->
		

		<!-- dedication -->
		<div class="container">
			<div class="row">
				<h2>&nbsp;# This page is dedicated to José Manuel Pinto</h2>
				<div class="col-md-8">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rneBpol3bI4"></iframe>
					</div>	
				</div>

				<div class="col-md-4">
				</div>
			</div>
		</div>
		

		<br><br><br>

		<!-- footer -->
		<footer>	
		    <div class="container">
		        <div class="row">
		            <div class="col-sm-3">
		                <h4>Contact</h4>
		                <ul class="list-unstyled">
		                    <li><span class="glyphicon glyphicon-phone"></span> 555 555 555</li>
		                    <li><span class="glyphicon glyphicon-envelope"></span> pintorest@mail.com</li>
		                    <li><span class="glyphicon glyphicon-map-marker"></span> Estonia</li>
		                </ul>
		            </div>
		 
		            <div class="col-sm-3 col-sm-offset-1">
		                <h4>Social</h4>
		                <a href="#"><img src="images/icons/facebook.png" alt="facebook"></a>
		                <a href="#"><img src="images/icons/twitter.png" alt="twitter"></a>
		            </div>
		 
		            <div class="col-sm-3 col-sm-offset-1">
		                <h4>Search</h4>
		                <form class="form-inline">
		                    <div class="input-group">
		                        <input type="text" class="form-control" placeholder="Search">
		                        <span class="input-group-btn">
		                            <button class="btn btn-success" type="button"> <span class="glyphicon glyphicon-search"></span></button>
		                        </span>
		                    </div>
		                </form>
		            </div>
		        </div>
		    </div>
		</footer>

		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
		<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
		<script type="text/javascript" src="javascript/allpintos_masonry.js"></script>
	</body>
</html>